<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
  <title>My Project Developer</title>
    <!-- Barra de navegação do top-->
<div class="topnav">
  <a href="/">Home</a>
  <a href="/dadovaci">Cadastros</a>
</div>
</nav>
    {{{body}}}
  </body>

</html>