<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="flex-containe">
    <p>
    <h1 class="color-link">Cadastrar-se</h1>
 <form action="/dadovaci/insertdadovaci" method="POST" class="form-group">
    <div class="flex-containe">    
        <label for="nome" class="form__label">Nome:</label>
        <input type="text"  class="w3-input" name="nome" autocomplete="off" placeholder="Informe seu nome:">
    </div> 

    <div class="flex-container">    
        <label for="datanasc" class="form__label">Data de nascimento:</label>
        <input type="date" class="w3-input" name="datanasc" autocomplete="off"  placeholder="Informe sua data de nascimento:">
    </div> 

    <div class="flex-containe">    
        <label for="idade" class="form__label">Idade:</label>
        <input type="int"  class="w3-input" autocomplete="off" name="idade" placeholder="Informe sua idade:">
    </div> 

    <div class="flex-containe">    
        <label for="local" class="form__label">Local:</label>
        <input type="text" name="local"  autocomplete="off" class="w3-input" placeholder="Informe sua localidade:">
    </div> 

    <div class="flex-containe">    
        <label for="quantvac" class="form__label">Quantidade de vacina: </label>
        <input type="number" name="quantvac" autocomplete="off" class="w3-input" placeholder="Quantidade de vacina:">
    </div> 

    <div class="flex-containe">    
        <label for="cpf" class="form__label">CPF: </label>
        <input type="text" name="cpf"  autocomplete="off"  class="w3-input" placeholder="Informe seu CPF:">
    </div> 
    <br>
    <button type="submit" class="btn btn-primary" value="Registrar">Registrar</button>
  </form>
    <br>
    <p>
    <footer>&copy; Copyright 2021 HTML.am</footer>
</div>

</body>
</html>